<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dbank">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DBank"
        tools:targetApi="31">
        <activity
            android:name=".ViewExpenseandIncomepage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Expenses"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".New_Mainpage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Changepass"
            android:exported="false"
            android:label="@string/title_activity_changepass"
            android:theme="@style/Theme.DBank.NoActionBar" />
        <activity
            android:name=".Addincome"
            android:exported="false" />
        <activity
            android:name=".Viewday"
            android:exported="false" />
        <activity
            android:name=".Viewdayex"
            android:exported="false" />
        <activity
            android:name=".Incomeview"
            android:exported="false" />
        <activity
            android:name=".Dayexpense"
            android:exported="false" />
        <activity
            android:name=".MAinpage"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>